/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0px;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    
    #cboxContent{overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(http://static.blogos.com/pc/image/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(http://static.blogos.com/pc/image/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(http://static.blogos.com/pc/image/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(http://static.blogos.com/pc/image/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:5px; right:10px; background:url(http://static.blogos.com/pc/image/common/login_btn.png) no-repeat 0 -100px; width:32px; height:32px; text-indent:-9999px;}
        #cboxClose.hover{background-position:0 -133px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(http://static.blogos.com/pc/image/colorbox/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}



/* original */
.mainpanelbox {
	background:#f1f1f1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.mainpanelbox h2 {
	-webkit-border-top-left-radius: 20px;  
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;  
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background:url(http://static.blogos.com/pc/image/common/login_bar_grade.png) repeat-x 0 0;
	font-size:20px;
	height:51px;
	padding-left:20px;
	line-height:45px;
	color:#fff;
}
.mainpanelbox h3 {
	font-size:18px;
	margin-bottom:5px;
	margin-left:40px;
	margin-right:40px;
}
.mainpanelbox p.info {
	font-size:14px;
	line-height:24px;
	margin-bottom:20px;
	margin-left:40px;
	margin-right:40px;
}
.mainpanelbox label.rule {
	font-size:14px;
	margin-bottom:20px;
	margin-right:40px;
}
.mainpanelbox p.info img.icon {
	margin-right:5px;
}

#login_panel .mainpanel-body {
	padding:20px;
	min-height:400px; 
}
ul.providers{
	margin-left:40px;
}

ul.providers li{
	display:inline;
}
ul.providers a {
	display:block;
	float:left;
	width:200px;
	height:35px;
	text-indent: -9999px;
	margin-bottom:10px;
}
.bt_facebook a{
	background:url(http://static.blogos.com/pc/image/common/login_btn.png) no-repeat 0 0;
}
.bt_facebook a:hover{
    background-position:0 -35px;
}
.bt_twitter a{
	background:url(http://static.blogos.com/pc/image/common/login_btn.png) no-repeat 0 0;
	background-position:-200px 0;
}
.bt_twitter a:hover{
    background-position:-200px -35px;
}
.bt_livedoor a{
	background:url(http://static.blogos.com/pc/image/common/login_btn.png) no-repeat 0 0;
	background-position:-400px 0;
}
.bt_livedoor a:hover{
    background-position:-400px -35px;
}
.bt_yahoo a{
	background:url(http://static.blogos.com/pc/image/common/login_btn.png) no-repeat 0 0;
	background-position:-600px 0;
}
.bt_yahoo a:hover{
    background-position:-600px -35px;
}
.bt_mixi a{
	background:url(http://static.blogos.com/pc/image/common/login_btn.png) no-repeat 0 0;
	background-position:-800px 0;
}
.bt_mixi a:hover{
    background-position:-800px -35px;
}

div.cando
,div.thxbox{
	margin-top:20px;
	margin-bottom:15px;
	padding:20px auto;
	text-align:center;
}
.mainpanel-body:after {
    content:" ";
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
    }
.mainpanel-body {
    zoom:1;
    }

.first-auth {
	width:48%;
	float:left;
	margin-bottom:20px;
}
.first-auth .auth-info {
	font-size:16px;
	line-height:24px;
	margin-bottom:20px;
	margin-top:40px;
	margin-right:40px;
}
.second-auth {
	width:48%;
	float:right;
	margin-bottom:20px;
}
#btnbox {
	margin-top:40px;
}
.first-auth .wrap
,.mainpanel-body #login_panel_error {
	margin-left:40px;
}
#authorized2 {
	background:url(http://static.blogos.com/pc/image/common/line_auth.gif) repeat-y 50% 0;
}
