.block-right {border-top:1px solid #92abd0;margin-bottom:10px}
	.block-right .block-content {padding:10px}
	.block-right .title {color:#000;background:#e7ebf7;border-top:1px solid #fff;height:24px;line-height:24px;padding-left:10px}