body {
	font-family: verdana;
	font-size: 11pt;
	color: #323131;
	background-color: ghostWhite;
}

a {
	text-decoration: none;
}

a :HOVER {
	text-decoration: underline;	
}

#wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0;left:0;
	overflow:hidden;
}

#mask {
	width:500%;
	height:100%;
}

.page {
	float:left;
	overflow:scroll;
}

#UpperPanel {
	height:99px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-image: url('TopPanel_sides.png');
}

#FeaturedClips {
	overflow: hidden;
	background-color: black;
	color: ghostWhite;
}

.player {
	width:100%;
	height:100%
}

.player .title {
	color:white;
}

.dataTable {
	font-size: 8pt;
	font-weight: bold;
}

.dataTable th {
	background-color: gray;
}

.clips {
}

.detail {
}

.play {
	background-image: url("/img/client/play.png");
}

.style001 {
	width: 891px;
	height: 99px;
	background-image: url("TopPanel_middle.png");
}

.style001 td {
	vertical-align: bottom;
	padding-bottom: 2px;
}

.style002 {
	position: absolute;
	top: 0px;
	right: 0px;
	color: ghostWhite;
	font-weight: bold;
	font-size: 10pt;
}

.style003 {
	position: fixed;
	left: 100px;
}
.style003 :HOVER {
	background-color: #f8f8ff;
	border-radius: 5px;
	color: black;
}

.style004 {
	border: solid thin gray;
	background-color: ghostWhite;
	height: 17px;
	width: 150px;
}

.style005 {
	background-color: #777777;
	height: 23px;
	border: solid thin black;
	font-weight: bold;
}

.style005 :HOVER {
	background-color: #f8f8ff;
}

.style006 {
	height: 78px;
	width:100%;
	background-image: url("searchPane.png");
}

#clips {
}

#clips .clips, #clips .singers, #clips .composers, #clips .playlists, #clips .genres {
	width: 100%;
	height: 24px;
	font-family: verdana;
	font-size: 10pt;
	color: #666666;
	background-image: url("tab.png");
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: 1px solid gray;
}

#clips .selected {
	font-weight: bold;
	color: ghostWhite;
	background-color: black;
	background-image: none;
	border: none;
}

.style008 {
	width: 100%;
	border: none;
}
.style008 td {
	width: 20%;
}

.style009 {
	width: 449px;
	height: 30px;
	background-image: url("searchBtn.png");
	background-repeat: no-repeat;
	padding-top: 4px;
}

.searchKeywordInput {
	width: 390px;
	height: 17px;
	border: none;
}

.button-body {
	background-image: url("btnRepeat.png");
}

.button-body :HOVER {
	text-shadow: -1px 1px 2px gray;
}

.button-body input {
	height: 34px;
	background: none;
	border: none;
	font-family: verdana;
	font-size: 10pt;
	font-weight: bold;
	color: ghostWhite;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
}

.clipThumbnail {
	opacity:0.5;
}
.clipThumbnail :HOVER {
	opacity: 1;
}

.playing {
	opacity: 1;
}

.playing img {
	border: thin solid ghostWhite;
}

.removeBtn {
	background-color: #666666;
	opacity:0.5;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	vertical-align: middle;
}

.removeBtn input {
	width: 20px;
	border: none;
	background-color: transparent;
	color: #232323;
}

.removeBtn :HOVER {
	opacity:1;
	background-color: #DDDDDD;
	border-radius: 5px;
}

.clipBriefDetailTop {
	background-image: url("clip_brief_info_top.png");
	height: 35px;
}

.style011 {
	float: left;
	height: 35px;
	vertical-align:middle;
	margin-right: 20px;
}

.odd-line {
	background-color: #e8f0f7;
	height: 31px;
}

.line_over, .odd-line :HOVER, .even-line :HOVER{
	background-color:#abcdf3;
}

.style012 {
	background-color: black;
	color: white;
	font-size: 10pt;
	height: 35px;	
	font-weight: bold;
}
.style012 td {
	padding-left: 8px;
	padding-right: 8px;
}

.style013 {
	width: 20px;
	height: 20px;
	border: none;
}

.up {
	background-image: url("up.png");
}
.down {
	background-image: url("down.png");
}

.style014 {
	color: #646262
}

.style015 {
	color: #a9b0ba
}

.addBtn {
	width:14px;
	height:14px;
	background-image: url("add.png");
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.shareBtn {
	border: solid thin #009722;
	color: #009722;
	background-color:transparent;
	font-size: 8pt;
	font-weight:bold;
	cursor: pointer;
}

.pagingBtn {
	border: solid thin #d1dddb;
	background-color: #f3f5f2;
	color: #0d6967;
	cursor: pointer;
}

.range {
	border: #486be5 solid thin;
	color: ghostWhite;
	background-color: #87a197;
}

.like, .follow {
	text-decoration:none;
	color:#c9c9c9
}

.unlike, .unfollow {
	text-decoration:none;
	color:#009722
}

.detail-text {
	font-size: 8pt;
	font-weight: bold;
}

.style016 {
	color: #646262;
}

.avatar {
	border: 1px solid white;
	box-shadow: -6px 3px 3px 0px gray;
}

.list-item-frame-horizon {
	width: 178px;
	height: 83px;
	background-image: url("list-item-frame-horizon.png");
	background-repeat: none;
}

.list-item-frame-horizon img {
	height: 70px;
}

.genre-item-odd {
	background-color: transparent;
}
.genre-item-odd :HOVER {
	background-color:#abcdf3;
}

.genre-item-even {
	background-color: #e8f0f7;
}

.genre-item-even :HOVER {
	background-color:#abcdf3;
}

.style017 {
	color:#1d1d1d;
}
.style018 {
	background-color: black;
	width: 100%; 
	height: 35px;
}

.style019 {
	width: 178px;
}
.style020 {
}